@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap%27');

.container {  display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "video video input"
      "primers primers espectadors"
      "paisos paisos diamants";
  }
  .video-class {
    object-fit: fill;
  }
  
  .input { grid-area: input; }
  
  .espectadors { grid-area: espectadors; }
  
  .diamants { grid-area: diamants; }
  
  .video-class { grid-area: video; }
  
  .primers {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "top5 top3 top1 top2 top4";
    grid-area: primers;
  }
  
  .top1 { grid-area: top1; }
  
  .top2 { grid-area: top2; }
  
  .top3 { grid-area: top3; }
  
  .top4 { grid-area: top4; }
  
  .top5 { grid-area: top5; }
  
  .paisos {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "eeuu india ukrania"
      "spain inglaterra china"
      "francia alemania arabia";
    grid-area: paisos;
  }
  
  .eeuu 
  { grid-area: eeuu; 
}
  
  .india { grid-area: india; }
  
  .ukrania { grid-area: ukrania; }
  
  .spain { grid-area: spain; }
  
  .inglaterra { grid-area: inglaterra; }
  
  .china { grid-area: china; }
  
  .francia { grid-area: francia; }
  
  .alemania { grid-area: alemania; }
  
  .arabia { grid-area: arabia; }
  
.giffons {
    width: 750px;
    height: 1050px;
    position: absolute;
}

.video-class{
    z-index: 1;
    height: 330px;
    width: 560px;
    background-color: aliceblue;
    border: 5px solid blueviolet;
    margin-left:30px;
    position: fixed;
    margin-top: 45px;
}

.video-class .video {
  max-width: 560px;
  max-height: 330px;
  position: center;
}
.paisos {
    z-index: 1;
    position: absolute;
    margin-top: 580px;
    margin-left:30px;
    position: fixed;
}

.banderes {
   z-index:1;
   width: 180px;
   height: 123px;
   text-align: center;
   overflow: hidden;
   border: 5px solid blueviolet;
   margin-top:2.5px;
}

.primers img{
z-index: 1;
border: 5px solid blueviolet;
position: absolute;
margin-top:320px;
width: 560px;
height: 180px;
margin-left:30px;
position: fixed;
}

.primers .top1{
    z-index: 2;
    height: 50px;
    width: 75px;
    position: absolute;
    margin-left: 260px;
    margin-top: 50px;
}

.primers .top2{
    z-index: 2;
    height: 50px;
    width: 75px;
    position: absolute;
    margin-left: 367px;
    margin-top: 70px;
}

.primers .top3{
    z-index: 2;
    height: 50px;
    width: 75px;
    position: absolute;
    margin-left: 155px;
    margin-top: 85px;
}

.primers .top4{
    z-index: 2;
    height: 50px;
    width: 75px;
    position: absolute;
    margin-left: 475px;
    margin-top: 103px;
}

.primers .top5{
    z-index: 2;
    height: 50px;
    width: 75px;
    position: absolute;
    margin-left: 45px;
    margin-top: 115px;
}

